div.logo h1{

	/*position: fixed;*/
	/*padding: 5px;*/
	/*background-color: lightgrey;*/
	/*border-bottom: 1px solid #000;*/
	/*margin: 0 auto;*/
	/*top:0;*/
	/*width: 100%;*/
	/*height: 35px;*/
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

div.logo h1 a{

	text-decoration: none;
	color: #fff;
	white-space: nowrap;
	font-weight: bold;
}

div#site-header{

	position: fixed;
}

.overflow { 

	overflow: auto; 
	-webkit-overflow-scrolling: touch; 
}

.navigation { 

	background: #232323; 
	color: #cbc4c5; 
	z-index: 1; 
	width: 100%; 
	position: absolute; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 0; 
	display: none;
}

.navigation ul { 

	list-style: none; 
	padding: 0; 
	margin: 0; 
	/*width: 265px;*/ 
	position: relative; 
}

.navigation li { 

	font-size: 18px; 
	position: relative; 
	font-weight: 100; 
	border-bottom: solid 1px rgba(0,0,0,0.1); 
	border-top: solid 1px rgba(255,255,255,0.05); 
}

.navigation ul li a ,
.navigation ul li a:hover ,
.navigation ul li a:visited ,
.navigation ul li a:focus { 

	text-decoration: none; 
	color: #cbc4c5; background-color: 
	transparent; 
	display: block; 
	padding: 4px 14px 4px 14px; 
	line-height: 40px 
}

.gallery{

	text-align: center;
}

.gallery ul li{

	list-style-type: none;
	display: inline;
	/*padding:10px;*/
}


.gallery .weblink{

	font-weight: bold;
	text-decoration: underline;
	color: blue;
	padding: 5px 10px 5px 10px;
	background-color: lightgrey;
	color:blue;
}

.gallery ul li a img{

   padding:10px;
}

.gallery ul li a img:hover{

	cursor: pointer;
}

.undline{

	text-decoration: underline;
}

.blogs{

	font-weight: bold;
}

.page-title{

	padding-top: 25px;
	padding-bottom: 50px;
}

.blogs tr:nth-child(even) {background: #CCC}
.blogs tr:nth-child(odd) {background: #FFF}
.blogs tr:hover{background: grey;}

.post img{

	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 80%;
  	padding: 50px;
}

.post a{

	color: blue;
}

.post a:hover{

	color: darkblue;
	font-weight: bold;
}

.post {

	padding-left: 150px;
	padding-right: 150px;
}

.dev-docs caption{

	color: black;
	font-weight: bold;
}

.dev-docs a{

	color: blue;
}

.dev-docs a:hover{

	color: darkblue;
	font-weight: bold;
}
