.archives table tr td:first-child{

	padding-right:5px;
}

.archives table tr td a{

	text-decoration: underline;
	font-weight: bold;
}

.archives table tr td a:hover{

	text-decoration: none;
	color:#888;
}