<article class="post post-1">
	<header class="entry-header">
		<h1 class="entry-title">Pitsolu | Technology</h1>
		<div class="entry-meta">
			<span class="post-category"><a href="#">Introduction</a></span>

			<span class="post-date">
				<a href="#"><time class="entry-date">January 16, 2016</time></a>
			</span>

			<span><a href="#">&nbsp;The Moderator</a></span>

			<!--<span class="comments-link"><a href="#">4 Comments</a></span>-->
		</div>
	</header>
	<div class="entry-content clearfix">
		<ul class="social">
			<li class="twitter" title="twitter"><a target="_blank" href="https://twitter.com/pitsolu"><span class="ion-social-twitter"></span></a></li>
			<li class="twitter" title="github"><a target="_blank" href="https://github.com/pitsolu"><span class="ion-social-github"></span></a></li>
		</ul>
		<center><p><b>Changes coming soon!</b></br></br>
						That reflect a strong belief in:</br>
						1stly, values of <b>#democracy</b>;</br> 
						2ndly, how they facilitate for <b>#freemarket</b>;</br>
						3rdly, how <b>#tech</b>nology propels them;</br>
						and lastly, how to safeguard them
						(<b>#security</b> &amp; <b>#audit</b>)</br>
					</p></center>
		<!--<p>Given our experience and expertise in commercial web development, we believe we can offer a unique and superior service to business owners, in comparison to what is currently available.</p>
		<p>The demand and growth rate for software development and marketing services in the small business market is at an all time high and shows no sign of slowing anytime soon. Even more astonishing is the fact that very few software development companies have taken advantage of the opportunity, as there are no dominating participants in this huge market.</p>
		<p>We believe the reason for this virtually untapped market is due to expensive project costs, the highest profit margins in software development today are in servicing large and medium sized corporations. We have developed a system that dramatically reduces steep project costs and henceforth will allow us to offer the same high-end software development services as larger companies receive at a much lower cost to the client.</p>
		-->
	</div>
</article>