<!--
	<h1 class="page-title">Web</br><span class="loading">&nbsp;Loading&nbsp;...</span></h1>
	<article class="post">
		<div class="entry-content clearfix">
			<div class="gallery">
				<a href="http://idealrestaurant.co.ke" target="_blank" class="weblink">Ideal</a>
				<ul>
					<li>
						<a data-lity data-lity-target="images/portfolio/big/ideal-desktop.png">
							<img class="lazy" src="images/image-placeholder.png" data-original="images/portfolio/thumbs/ideal-desktop-thumb.png"/>
						</a>
					</li>
					<li>
						<a data-lity data-lity-target="images/portfolio/big/ideal-mobile.png">
							<img class="lazy" src="images/image-placeholder.png" data-original="images/portfolio/thumbs/ideal-mobile-thumb.png"/>
						</a>
					</li>
				</ul>
				<a href="http://pitsolu.bitbucket.org/sibi" target="_blank" class="weblink">SIBI</a>
				<ul>
					<li>
						<a data-lity data-lity-target="images/portfolio/big/sibi-desktop.png">
							<img class="lazy" src="images/image-placeholder.png" data-original="images/portfolio/thumbs/sibi-desktop-thumb.png"/>
						</a>
					</li>
					<li>
						<a data-lity data-lity-target="images/portfolio/big/sibi-mobile.png">
							<img class="lazy" src="images/image-placeholder.png" data-original="images/portfolio/thumbs/sibi-mobile-thumb.png"/>
						</a>
					</li>
				</ul>
				<a href="http://pitsolu.bitbucket.org/irec" target="_blank" class="weblink">IREC</a>
				<ul>
					<li>
						<a data-lity data-lity-target="images/portfolio/big/irec-desktop.png">
							<img class="lazy" src="images/image-placeholder.png" data-original="images/portfolio/thumbs/irec-desktop-thumb.png"/>
						</a>
					</li>
					<li>
						<a data-lity data-lity-target="images/portfolio/big/irec-mobile.png">
							<img class="lazy" src="images/image-placeholder.png" data-original="images/portfolio/thumbs/irec-mobile-thumb.png"/>
						</a>
					</li>
				</ul>
				<a href="http://pitsolu.bitbucket.org/instore" target="_blank" class="weblink">In-Store</a>
				<ul>
					<li>
						<a data-lity data-lity-target="images/portfolio/big/in-store-desktop.png">
							<img class="lazy" src="images/image-placeholder.png" data-original="images/portfolio/thumbs/in-store-desktop-thumb.png"/>
						</a>
					</li>
					<li>
						<a data-lity data-lity-target="images/portfolio/big/in-store-mobile.png">
							<img class="lazy" src="images/image-placeholder.png" data-original="images/portfolio/thumbs/in-store-mobile-thumb.png"/>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</article>
-->